[submodule "themes/smol"]
	path = themes/smol
	url = https://github.com/colorchestra/smol.git
[submodule "themes/nostyleplease"]
	path = themes/nostyleplease
	url = https://github.com/hanwenguo/hugo-theme-nostyleplease.git
